# Example tonelc environment file for systemd.
# Install as /etc/default/tonelc and edit TONELC_ARGS for your host.
TONELC_ARGS='-4 --local 127.0.0.1:1111 --remote 38.125.160.187:2222 --tcp-connections 3 --auto-rule eno1 --log-level debug'
