# Example tonels environment file for systemd.
# Install as /etc/default/tonels and edit TONELS_ARGS for your host.
TONELS_ARGS='-4 --local 2222 --remote 127.0.0.1:3333 --auto-rule enp1s0 --log-level debug'
